footer {
    display: flex;
    align-items: center;
    line-height: 20px;
    background-color: rgb(143, 137, 141);
    color: rgb(25, 25, 25, .9);
    font-weight: bold;
    font-family: 'Amatic SC';
    flex-direction: column;
  }

  footer p {
    font-family: 'Amatic SC';
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 2;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  footer ul {
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer ul li {
    margin: 15px;
  }

  footer ul a {
    color: rgb(25, 25, 25, .9);
    font-weight:bold;
    font-size:25px;
    margin-top:10px;
  }

  footer ul a:hover {
    color: white;
  }
  @media screen and (min-width: 575px) {
    footer{
        flex-direction: row;
    }
    footer ul {
      flex-direction: column;
      max-height: 200px;

    }
    
  }