div.comboTile_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
}

div.comboTile {
    border: 1px solid rgb(166, 161, 161);
    margin: 15px;
    padding: 15px;
    color: rgb(59, 39, 54);
    background-color: cornsilk;
    text-align:center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition-duration: .5s;
    transition-timing-function: linear;
}

div.comboTile:hover {
    background:rgb(59, 39, 54);
    color: cornsilk;
    border-radius: 50%;
}

div.comboTile h1 {
  font-family: 'Amatic SC';
  margin-top: 45px;
}
div.comboTile .mat-icon {
  height: 35px;
  width: 35px;
}
div.comboTile .material-icons {
  font-size:35px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}