<div class="comboTile_container">
    <div class="Aligner-item Aligner-item--top"></div>
    <div *ngFor="let comboTile of comboTiles">
        <div *ngIf="comboTile.isActive">
            <a class="Aligner-item" routerLink={{comboTile.url}}>
                <div class="comboTile">
                    <h1>{{ comboTile.header }}</h1>
                    <mat-icon *ngIf="comboTile.icon">{{ comboTile.icon }}</mat-icon>
                </div>
                <div class="Aligner-item Aligner-item--bottom"></div>
            </a>
        </div>
    </div>
</div>