<div class="comboTile_container">
    <div class="Aligner-item Aligner-item--top"></div>
    <div class = "alert">
        <p>Due to COVID-19 restrictions, Matt and Cecily have elected to get married at a small ceremony on October 17, 2020.</p>
        <p>They will love to see you all next year at the PNA Hall on August 14, 2021 to join them in a celebration of their marriage.</p>
    </div>
      <div *ngFor="let comboTile of comboTiles">
        <div *ngIf="comboTile.isActive">
            <a *ngIf="comboTile.header.toLowerCase() === 'registry'" class="Aligner-item" href={{comboTile.url}} target="_blank">
                <div class="comboTile">
                    <h1>{{ comboTile.header }}</h1>
                    <mat-icon *ngIf="comboTile.icon">{{ comboTile.icon }}</mat-icon>
                </div>
                <div class="Aligner-item Aligner-item--bottom"></div>
            </a>
            <a *ngIf="comboTile.header.toLowerCase() !== 'registry'" class="Aligner-item" routerLink={{comboTile.url}}>
                <div class="comboTile">
                    <h1>{{ comboTile.header }}</h1>
                    <mat-icon *ngIf="comboTile.icon">{{ comboTile.icon }}</mat-icon>
                </div>
                <div class="Aligner-item Aligner-item--bottom"></div>
            </a>
        </div>
    </div>
</div>