.hero-image {
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 560px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* Responsive Styles */
  @media screen and (min-width: 900px) {
    .hero-image {
      background-position: 50% 5%;
      height: 600px;
      font-family: 'Nunito'
    }
  }