
.hero-image {
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Nunito'
  }

  .hero-image.Accommodations {
    background-position: 5% 80%;
  }

  .hero-image.Story {
    background-position: 50% 50%;
  }

  .hero-image.Venue {
    background-position: 50% 25%;
  }

  .hero-image.Places {
    background-position: 50% 80%;
  }

  .hero-image.Accommodations h1 {
    font-size: 1.5em;
  }

  .hero-image.Events {
    background-position: 50% 15%;
  }

  .hero-image.Registry {
    background-position: 50% 15%;
  }

.hero-image .content_block {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  padding-top: 32%;
  font-family: 'Amatic SC';
  color: white;
  font-size: 25px;
}

.hero-image .breadcrumb {
  background-color:rgb(204, 202, 204);
  padding: 10px 12px;  
  font-family: 'Amatic SC';
  font-size: 20px;
  font-weight: bold;
}

.hero-image .breadcrumb a {
cursor: pointer;
padding: 6px 10px;
}

.hero-image .breadcrumb a:hover {
background-color: rgb(99, 64, 74);
color: white;
}

.hero-image .breadcrumb span {
vertical-align: middle;
margin-right: 5px;
}

.hero-image .mat-icon {
height: 20px;
width: 20px;
padding-top: 3px;
}

.hero-image .material-icons {
font-size: 20px;
}
@media screen and (min-width: 574px) {
  .hero-image {
    height: 500px;
  }
  .hero-image.Venue {
    background-position: 50% 20%;
  }
  .hero-image.Accommodations h1 {
    font-size: 2em;
  }
}
  @media screen and (min-width: 900px) {
    .hero-image {
      background-position: 5% 20%;
      height: 600px;
    }

    .hero-image.Story {
      background-position: 5% 50%;
    }

    
  .hero-image.Places {
    background-position: 50% 70%;
  }

    .hero-image .content_block {
      padding-top: 325px;
    }
  }

  @media screen and (min-width: 1200px) {
    .hero-image.Accommodations {
      background-position: 5% 70%;
    }

  }