
.hero-image {
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.hero-image .content_block {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  padding-top: 32%;
  font-family: 'Amatic SC';
  color: white;
  font-size: 25px;
}

.hero-image .content_block h1, h2, h3 {
  /*background-color: rgb(232, 230, 230, 0.5);*/
}
@media screen and (min-width: 574px) {
  .hero-image {
    height: 500px;
  }
  /* Responsive Styles */
  @media screen and (min-width: 900px) {
    .hero-image {
      background-position: 50% 5%;
      height: 600px;
      font-family: 'Nunito'
    }
    .hero-image .content_block {
      padding-top: 325px;
    }
  }

  .hero-image .breadcrumb {
      background-color:rgb(204, 202, 204);
      padding: 10px 12px;  
      font-family: 'Amatic SC';
      font-size: 20px;
      font-weight: bold;
    }

  .hero-image .breadcrumb a {
    cursor: pointer;
    padding: 6px 10px;
  }

  .hero-image .breadcrumb a:hover {
    background-color: rgb(99, 64, 74);
    color: white;
  }

  .hero-image .breadcrumb span {
    vertical-align: middle;
    margin-right: 5px;
  }

  .hero-image .mat-icon {
    height: 20px;
    width: 20px;
    padding-top: 3px;
  }

  .hero-image .material-icons {
    font-size: 20px;
  }
  }
