@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
body {
    margin: 0;
    background-color:rgb(201, 199, 201);
}

html, body { height: 100%; }
body { margin: 0; }
a {
    text-decoration: none;
}

.toolbar a {
    font-size: 35px;
    color: white;
    padding: 20px;
}

div.content_page_body div.text h1{
    text-align: center;
    color: purple;
}

span.address {
    display: block;
    font-size: 20px;
    color: rgb(209, 154, 44)
}

span.registryLink a {
    display: block;
    font-size: 24px;
    color: rgb(214, 130, 41);
}

span.registryLink a:hover {
    font-weight: bold;
    color: white;
}

div.text img {
    width: 100%;
}

div.text_field h1 {
    text-align: center;
    font-size: 25px;
}