@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Nunito:300&display=swap');
body {
    margin: 0;
    background-color:rgb(201, 199, 201);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    text-decoration: none;
}

.toolbar a {
    font-size: 35px;
    color: white;
    padding: 20px;
}

div.content_page_body div.text h1{
    text-align: center;
    color: purple;
}

span.address {
    display: block;
    font-size: 20px;
    color: rgb(214, 130, 41);
}

span.registryLink a {
    display: block;
    font-size: 24px;
    color: rgb(214, 130, 41);
}

span.registryLink a:hover {
    font-weight: bold;
    text-decoration:underline;
}