@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Nunito:300&display=swap');
body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    text-decoration: none;
}

.toolbar a {
    font-size: 35px;
    color: white;
    padding: 20px;
}
