@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

div.text_field {
    text-align: left;
    font-family: "Lato";
    font-size: 20px;
    width: 90%;
    margin: 25px 5%;
    color: black;
}

div.text_field div.text {
    width: 80%;
    margin: 0 10% 10%;
}

@media screen and (min-width: 575px) {
    div.text_field {
        width: 50%;
        margin: 25px 25%;
    }
    
  }